body{
    background-color: blanchedalmond;
    margin: 50px;
}


h1 {
    display: inline-block;
    text-shadow: 2px 2px;
    padding-right: 100px;
}

nav {
    display: inline-block;
}

nav ul li {
    padding: 10px;
    display: inline-block;
    border: 15px;
    
}


nav ul a {

    text-decoration: none;
    list-style: none;
}

section {
    text-align: center;
    color: darkgreen;
    width: 25%;
   
    display: inline-block;
}

#fav{
    color: darkviolet;
}

#die-hard {
    border: 5px rgb(0, 24, 146) solid;
    height: 300px;
}

#inception {
border: 5px rgb(136, 0, 116) solid;
    height: 300px;
}